@import '../../styles/variables.scss';

.about-beans {
  min-height: 415px;
  padding: 80px 0 30px 0;
  
  &-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &-img {
    width: 272px;
    height: auto;
    margin-left: 50px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
  }

  &-info {
    margin-left: 80px;
  }

  &-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &-separator {
    display: inline-block;
    margin-bottom: 21px;
    width: 60px;
    height: 37px;

    &-img {
      width: 30px;
      height: 30px;
    }

    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $black;

      position: relative;
      top: 15px;
      left: -68px;
    }

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $black;

      position: relative;
      bottom: 21px;
      right: -68px;
    }
  }

  &-description {
    font-size: 14px;
    max-width: 350px;
    line-height: 20px;
    margin: 0px 0px 22px 0px;
  }

  &-hr {
    width: 240px;
    height: 0px;
    border-bottom: 1px solid $black;
    margin: 0 auto;
    margin-top: 60px;
  }
}

@media (max-width: $sw768) {
  .about-beans {
    padding-top: 30px;

    &-wrapper {
      flex-direction: column-reverse;
      align-items: center
    }

    &-img,
    &-info {
      margin: 0;
    }

    &-hr {
      margin-top: 10px;
    }

    &-title {
      margin-top: 25px;
    }
  }
}