@import '../../styles/variables.scss';

.footer {
  min-height: 102px;
  padding-bottom: 13px;
  margin: 0 auto;
  text-align: center;

  &-beans {
    width: 35px;
    height: 35px;
  }

  &-title {
    margin: 0;
    color: $black;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
  }

  &-separator {
    display: inline-block;
    margin-top: 29px;
    width: 60px;
    height: 37px;

    &-img {
      width: 30px;
      height: 30px;
    }

    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $black;

      position: relative;
      top: 15px;
      left: -68px;
    }

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $black;

      position: relative;
      bottom: 21px;
      right: -68px;
    }
  }

  &-list {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    max-width: 397px;
    margin: 0 auto;
  
    &-item {
  
      a {
        color: $black;
        font-size: 12px;
        text-decoration: underline rgba(0, 0, 0, 0);
        transition: text-decoration-color 0.3s;
  
        &:hover {
          text-decoration-color: rgba(0, 0, 0, 1);
        }
      }
    }
  }
  
}

